.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: $White;
    padding: 25px;

    .not-active{
        display: none;
    }

     .cart-box{
        position: absolute;
        height: 255px;
        width: 360px;
        background-color: $White;
        z-index: 5;
        margin-top: 5px;
        border-radius: 7px;
        align-self: center;
        top: 75px;
        right: 30px;
        overflow: hidden;

        .cart-box-container{
            width: 100%;
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;

            .cart-checkout{
                width: 100%;
                height: 190px;
                display: none;
                flex-direction: column;
                align-items: center;
                

                .checkout-details{
                    width: 310px;
                    height: 50px;
                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center; 
                    margin-top: 30px;                   

                    .detail-pic{
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                    }

                    .detail-info{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        margin-left: -20px;
                        color: $DarkGrayishBlue;

                        .total-price{
                            color: $black;
                            font-weight: 700;
                        }
                    }

                    .delete-btn{
                        cursor: pointer;
                    }
                }

                .checkout-btn{
                    all: unset;
                    width: 310px;
                    height: 50px;
                    text-align: center;
                    background-color: $Orange;
                    color: $White;
                    border-radius: 10px;
                    margin-top: 30px;
                    font-weight: 400;
                }
            }

            .empty-cart{

               

                p{
                    font-weight: 700;
                    color: $DarkGrayishBlue;
                }

            }
            
        }

        h5{
            padding: 22px;
            font-weight: 700;
        }

        hr{
            height: 1px;
            background-color: $GrayishBlue;
            border: none;
        }
    }

    @include media('>=phone','<desktop'){
        .menu-items{
            display: none;
        }
    }

    @include media(">=desktop"){
        position: relative;
      &::before{
          content: "";
          position: absolute;
          width: 95%;
          height: 2px;
          top: 82px;
          background-color: $LightGrayishBlue;
      }
        

        .logo-and-menu .menu{
            display: none;
        }

        .menu-items{
           //width: 400px;
            a{
                position: relative;
                transition: all 0.2s ease;
            }
            margin-left: -240px;

            a:not(:last-child){
                margin-right: 35px;
            }

            a:hover{
                color: $black;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    top: 55px;
                    background-color: $Orange;

                }
            }
        }
    }

    .logo-and-menu{
        .menu{
            margin-right: 15px;
            cursor: pointer;
        }
    }

    

    .avatar-and-cart{
        display: flex;
        align-items: center;
       
        .avatar{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-left: 35px;
            cursor: pointer;

            &:hover{
                border: 2px solid $Orange;
            }
        }

        .cart-container{
            position: relative;
            padding-top: 5px;

            .cart-counter{
                display: none;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1px;
                right: -4px;
                width: 15px;
                height: 12px;
                font-size: 8px;
                color: $White;
                background-color: $Orange;
                padding: 0 8px;
                border-radius:10px;

            }

            .cart{
                cursor: pointer;
            }
        }
        
    }
}

.mobile-menu{
    @include media(">=desktop"){
        display: none;
    }
    position: absolute;
    width: 257px;
    height: 100vh;
    background-color: $White;
    padding: 25px;
    left: -258px;
    transition: 0.3s ease;
    z-index: 2;

    .close{
        margin-bottom: 55px;
        cursor: pointer;
    }

    .mobile-menu-items{
        display: flex;
        flex-direction: column;

        a{
            font-weight: 700;
            color: $black;
        }

        a:not(:last-child){
            margin-bottom: 25px;
        }
    }
}

.layout{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 75%;
    z-index: 1;
}