@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 25px;
}

.header .not-active {
  display: none;
}

.header .cart-box {
  position: absolute;
  height: 255px;
  width: 360px;
  background-color: white;
  z-index: 5;
  margin-top: 5px;
  border-radius: 7px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 75px;
  right: 30px;
  overflow: hidden;
}

.header .cart-box .cart-box-container {
  width: 100%;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .cart-box .cart-box-container .cart-checkout {
  width: 100%;
  height: 190px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .cart-box .cart-box-container .cart-checkout .checkout-details {
  width: 310px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.header .cart-box .cart-box-container .cart-checkout .checkout-details .detail-pic {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.header .cart-box .cart-box-container .cart-checkout .checkout-details .detail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-left: -20px;
  color: #68707d;
}

.header .cart-box .cart-box-container .cart-checkout .checkout-details .detail-info .total-price {
  color: black;
  font-weight: 700;
}

.header .cart-box .cart-box-container .cart-checkout .checkout-details .delete-btn {
  cursor: pointer;
}

.header .cart-box .cart-box-container .cart-checkout .checkout-btn {
  all: unset;
  width: 310px;
  height: 50px;
  text-align: center;
  background-color: #ff7d1a;
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: 400;
}

.header .cart-box .cart-box-container .empty-cart p {
  font-weight: 700;
  color: #68707d;
}

.header .cart-box h5 {
  padding: 22px;
  font-weight: 700;
}

.header .cart-box hr {
  height: 1px;
  background-color: #b6bcc8;
  border: none;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .header .menu-items {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    position: relative;
  }
  .header::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 2px;
    top: 82px;
    background-color: #f7f8fd;
  }
  .header .logo-and-menu .menu {
    display: none;
  }
  .header .menu-items {
    margin-left: -240px;
  }
  .header .menu-items a {
    position: relative;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .header .menu-items a:not(:last-child) {
    margin-right: 35px;
  }
  .header .menu-items a:hover {
    color: black;
  }
  .header .menu-items a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 55px;
    background-color: #ff7d1a;
  }
}

.header .logo-and-menu .menu {
  margin-right: 15px;
  cursor: pointer;
}

.header .avatar-and-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .avatar-and-cart .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 35px;
  cursor: pointer;
}

.header .avatar-and-cart .avatar:hover {
  border: 2px solid #ff7d1a;
}

.header .avatar-and-cart .cart-container {
  position: relative;
  padding-top: 5px;
}

.header .avatar-and-cart .cart-container .cart-counter {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 1px;
  right: -4px;
  width: 15px;
  height: 12px;
  font-size: 8px;
  color: white;
  background-color: #ff7d1a;
  padding: 0 8px;
  border-radius: 10px;
}

.header .avatar-and-cart .cart-container .cart {
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  width: 257px;
  height: 100vh;
  background-color: white;
  padding: 25px;
  left: -258px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 2;
}

@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .close {
  margin-bottom: 55px;
  cursor: pointer;
}

.mobile-menu .mobile-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu .mobile-menu-items a {
  font-weight: 700;
  color: black;
}

.mobile-menu .mobile-menu-items a:not(:last-child) {
  margin-bottom: 25px;
}

.layout {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 75%;
  z-index: 1;
}

.product-info-container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-info-container .carousel-container {
  position: relative;
  margin: auto;
  max-width: 425px;
  overflow: hidden;
}

.product-info-container .carousel-container .carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-transform: translateX(-425px);
          transform: translateX(-425px);
  background-color: black;
}

.product-info-container .carousel-container .carousel-slide img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.product-info-container .button {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: white;
  padding: 12px;
  top: 135px;
  border-radius: 50%;
  cursor: pointer;
}

.product-info-container #prevBtn {
  left: 25px;
}

.product-info-container #nextBtn {
  right: 25px;
}

.product-info-container .product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  max-width: 425px;
  margin: auto;
}

.product-info-container .product-details .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-info-container .product-details .product-info > * {
  margin-bottom: 20px;
}

.product-info-container .product-details .product-info h5 {
  text-transform: uppercase;
  color: #ff7d1a;
  font-size: 15px;
}

.product-info-container .product-details .product-info h2 {
  font-size: 29px;
}

.product-info-container .product-details .product-info p {
  color: #68707d;
  font-size: 17px;
}

.product-info-container .product-details .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-info-container .product-details .price-box .price {
  font-weight: 700;
  font-size: 25px;
}

.product-info-container .product-details .price-box .discount {
  margin-left: -173px;
  color: #ff7d1a;
  font-weight: 700;
  padding: 2px 5px;
  font-size: 11px;
  border-radius: 5px;
  background-color: rgba(255, 125, 26, 0.3);
}

.product-info-container .product-details .price-box .old-price {
  color: #b6bcc8;
  text-decoration: line-through;
  font-weight: 700;
}

.product-info-container .product-details .add-to-cart-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-info-container .product-details .add-to-cart-section .counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  height: 50px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 7px;
  background-color: #f7f8fd;
}

.product-info-container .product-details .add-to-cart-section .counter-container button {
  all: unset;
}

.product-info-container .product-details .add-to-cart-section .counter-container .counter {
  font-weight: 700;
}

.product-info-container .product-details .add-to-cart-section .counter-container #decreaseBtn {
  margin-bottom: 7px;
}

.product-info-container .product-details .add-to-cart-section .add-to-cartBtn {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  height: 50px;
  color: white;
  font-weight: 600;
  margin-top: 15px;
  background-color: #ff7d1a;
  border-radius: 7px;
}

.product-info-container .product-details .add-to-cart-section .add-to-cartBtn img {
  width: 15px;
  margin-right: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

.main-container {
  min-width: 375px;
  height: 100vh;
  position: relative;
}

@media (min-width: 1440px) {
  .main-container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: #68707d;
}
/*# sourceMappingURL=style.css.map */